::-moz-selection {
  color: #dddddd;
  background: #292929;
}

::selection {
  color: #dddddd;
  background: #292929;
}

.navbar {
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  position: fixed;
  background-color: #fff;
}

.navbar .image {
  height: 25px;
  width: 161px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 100px;
  cursor: pointer;
}

.navbar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 100px;
}

.navbar .right .loginButton {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  border: 2px solid #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: #292929;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.navbar .right .loginButton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar .right .icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 15px;
  color: #dddddd;
  cursor: pointer;
}

.navbar .right .icon:hover {
  color: #292929;
}

.home .container {
  margin-top: 75px;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blogCard {
  max-width: 600px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-top: 10px;
}

.blogCard .left {
  margin-right: 20px;
  max-width: 430px;
}

.blogCard .left .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  color: #757575;
  font-weight: 500;
  margin: 0 0;
}

.blogCard .left .top .author {
  margin-right: 10px;
  color: #292929;
}

.blogCard .left .main .title {
  font-size: 18px;
  font-weight: 700;
  color: #292929;
  line-height: 28px;
  margin: 0 0;
}

.blogCard .left .main .description {
  font-size: 15px;
  font-weight: 500;
  color: #757575;
  line-height: 20px;
  margin: 0 0;
}

.blogCard .left .main .readTime {
  font-size: 13px;
  font-weight: 500;
  color: #757575;
  margin-top: 10px;
}

.blogCard .left .main .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  font-size: 16px;
  color: #757575;
  text-decoration: none;
}

.blogCard .left .main .action .updateAction,
.blogCard .left .main .action .deleteAction {
  margin-right: 20px;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.blogCard .left .main .action .updateAction:hover,
.blogCard .left .main .action .deleteAction:hover {
  color: #292929;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogCard .right .image {
  height: 100px;
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .container {
  margin-top: 75px;
  width: 450px;
  border: 3px solid #dddddd;
  border-radius: 15px;
  padding: 10px 30px;
  margin-bottom: 100px;
}

.login .container .title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #292929;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.login .container .input {
  width: 100%;
  margin-bottom: 20px;
}

.login .container .input .text {
  font-size: 20px;
  font-weight: 500;
  color: #292929;
  margin-bottom: 10px;
  margin-left: 5px;
  letter-spacing: 5px;
}

.login .container .input .fill {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #dddddd;
  background-color: #dddddd;
  padding: 3px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  letter-spacing: 5px;
  margin-left: -15px;
  margin-bottom: 15px;
}

.login .container .button {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #292929;
  background-color: #292929;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 5px;
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.login .container .button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.login .container .signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

.login .container .signUp .right {
  font-size: 18px;
  font-weight: 700;
  color: #292929;
}

.signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signUp .container {
  margin-top: 75px;
  margin-bottom: 100px;
  width: 450px;
  border: 3px solid #dddddd;
  border-radius: 15px;
  padding: 10px 30px;
}

.signUp .container .title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #292929;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.signUp .container .input {
  width: 100%;
  margin-bottom: 20px;
}

.signUp .container .input .text {
  font-size: 20px;
  font-weight: 500;
  color: #292929;
  margin-bottom: 10px;
  margin-left: 5px;
  letter-spacing: 5px;
}

.signUp .container .input .fill {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #dddddd;
  background-color: #dddddd;
  padding: 3px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  letter-spacing: 5px;
  margin-left: -15px;
  margin-bottom: 15px;
}

.signUp .container .button {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #292929;
  background-color: #292929;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 5px;
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.signUp .container .button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.signUp .container .signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

.signUp .container .signIn .right {
  font-size: 18px;
  font-weight: 700;
  color: #292929;
}

.write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.write .container {
  margin-top: 60px;
  width: 1200px;
  border-radius: 15px;
  padding: 10px 30px;
}

.write .container .title {
  width: 100%;
  height: 60px;
  font-size: 42px;
  color: #292929;
  border: none;
}

.write .container .content {
  margin-top: 30px;
  width: 100%;
  min-height: 400px;
  border: none;
  font-size: 21px;
  color: #292929;
  scrollbar-width: none;
}

.write .container .content::-webkit-scrollbar {
  display: none;
}

.write .container .button {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #292929;
  background-color: #292929;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 5px;
  margin-left: 20%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

.write .container .button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.profile .container {
  margin-top: 60px;
  margin-bottom: 50px;
  padding: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .container .leftSide {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .container .leftSide .profileImage {
  height: 296px;
  width: 296px;
  border-radius: 50%;
  border: 2px solid #dddddd;
  color: #dddddd;
}

.profile .container .leftSide .name {
  font-size: 36px;
  font-weight: 700;
  color: #292929;
  margin: 0 0;
}

.profile .container .leftSide .totalArticle {
  font-size: 24px;
  font-weight: 500;
  color: #757575;
  margin: 0 0;
}

.profile .container .rightSide {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.read .container {
  margin-top: 60px;
  margin-bottom: 100px;
  max-width: 800px;
  width: 800px;
}

.read .container .title {
  font-size: 48px;
  font-weight: 400;
  color: #292929;
  margin-bottom: 0;
}

.read .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.read .container .info .infoLeft .profileImage {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.read .container .info .infoRight {
  margin-left: 20px;
  font-size: 14px;
  color: #757575;
  font-weight: 500;
}

.read .container .info .infoRight .author {
  margin: 0;
  font-weight: 700;
  color: #292929;
}

.read .container .info .infoRight .time {
  margin: 0;
}

.read .container .mainImage {
  height: 380px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-top: 30px;
}

.read .container .mainArticle {
  font-size: 21px;
  color: #292929;
  font-weight: 500;
  text-align: justify;
  margin-top: 30px;
}
/*# sourceMappingURL=styles.css.map */